{% extends 'base.html' %}
{% block head %}
<title>Home Page</title>
{% endblock %}
{% block content %}
<h1 style="color:white; text-align:center; font-weight:bolder;">Welcome !</h1>
<div class="grid-container">
    <div class="grid-item-1">
        <p>Add Ingredients for a recipe</p>
    </div>
    {% comment%}<div class="grid-item-2">
        <video src="{% media 'add_ingredient.mp4' %}" muted autoplay loop ></video>
    </div>{% endcomment %}

    <div class="grid-item-3">
        <p>Create a recipe, then add ingredients used to make that recipe</p>
    </div>
    {% comment%}<div class="grid-item-4">
        <video src="{% media 'add_recipe.mp4' %}" muted autoplay loop ></video>
    </div>{% endcomment %}
</div>
{% endblock %}

