{% extends 'base.html' %}
{% block head %}
<style>
    footer{
        position:static;
    }

</style>
<title>Home Page</title>
{% endblock %}
{% block content %}
<h1 style="color:white; text-align:center; font-weight:bolder;">Welcome !</h1>
<div class="grid-container" data-aos="fade-right" data-aos-duration="1000">
    <div class="grid-item-1" data-aos="fade-down-right" data-aos-duration="1000">
        <p>Add Ingredients for a recipe</p>
    </div>
    <div class="grid-item-2" data-aos="fade-down-left" data-aos-duration="1000">
        <video src="https://res.cloudinary.com/jjconway23/video/upload/v1663848260/recipe-app/Recipe_Creator_-_Google_Chrome_2022-09-21_16-11-40_cropped_mrsnac.mp4" muted autoplay loop ></video>
    </div>

    <div class="grid-item-3" data-aos="fade-up-right" data-aos-duration="1000">
        <p>Create a recipe, then add ingredients used to make that recipe</p>
    </div>
    <div class="grid-item-4" data-aos="fade-up-left" data-aos-duration="1000">
        <video src="https://res.cloudinary.com/jjconway23/video/upload/v1663848357/recipe-app/Recipe_Creator_-_Google_Chrome_2022-09-21_16-15-17_cropped_lrjwi7.mp4" muted autoplay loop ></video>
    </div>
</div>
{% endblock %}

