{% extends 'base.html' %}

{% block head %}
<title>Ingredients List</title>
{% endblock %}

{% block content %}
<h3>Ingredients List</h3>
<table>
    <thead>
        <tr class="table-head">
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit}}</td>
            <td><a class="btn" id="update-btn" href="{% url 'ingredients_update' item.id %}">Update</a></td>
            <td><a class="btn" id="delete-btn" href="{% url 'ingredients_delete' item.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <p style="color:white; text-align:center; font-weight:bolder;">You have no ingredients added.</p>
    {% endfor %}
    </tbody>
    
</table>
<h4><a id="form-submit-btn" class='btn' href="{% url 'ingredients_create' %}">Add new Ingredients</a></h4>
{% endblock %}