{% extends 'base.html' %}

{% block head %}
<title>Ingredients List</title>
<style>
@media (max-width: 700px){
    footer {
        position:absolute;
}
}
</style>

{% endblock %}

{% block content %}
<h3>{{user.name}} Ingredients List</h3>
<table id="ingredients-table">
    <thead>
        <tr class="table-head">
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit}}</td>
            <td><a class="btn" id="update-btn" href="{% url 'ingredients_update' item.id %}">Update</a></td>
            <td><a class="btn" id="delete-btn" href="{% url 'ingredients_delete' item.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <p style="color:white; text-align:center; font-weight:bolder;">You have no ingredients added.</p>
        {% endfor %}
    </tbody>

</table>
<div class="responsive-table hide">
    {% for item in object_list %}
        <div class="ingredients-list">
            <p style="display:inline ;">{{item.name}}</p><span> {{item.quantity}} {{item.unit}}</span>
            <a class="btn" id="update-btn" href="{% url 'ingredients_update' item.id %}">Update</a>
            <a class="btn" id="delete-btn" href="{% url 'ingredients_delete' item.id %}">Delete</a>
        </div>
        {% empty %}
        <p style="color:white; text-align:center; font-weight:bolder;">You have no ingredients added.</p>
        {% endfor %}
</div>

<h4><a id="form-submit-btn" class='btn' href="{% url 'ingredients_create' %}">Add new Ingredients</a></h4>
{% endblock %}