{% extends 'base.html' %}

{% block head %}
<title>Ingredients List</title>
{% endblock %}

{% block content %}
<h3>Ingredients List</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in object_list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit}}</td>
            <td><a href="#">Update</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        {% empty %}
        <p>You have no ingredients added.</p>
    {% endfor %}
</table>
<h4><a href="{% url 'ingredients_create'%}">Add new Ingredients</a></h4>
{% endblock %}