{% extends 'base.html' %}

{% block head %}
<title>Recipe List</title>
{% endblock %}

{% block content %}
<h3>Recipe List</h3>

{% for item in object_list %}
    <div>
        <!-- <img src="" alt=""> -->
        <h4>{{item.name}}</h4>
        <span>ID - {{item.id}} |</span>
        <span>Cook Time - {{item.cook_time}}</span>
        <h5>Ingredients:</h5>
        <ul>
            {% for ingredient in ingredients %}
            <li>{{ingredient.name}}</li>

        {% endfor %}
        </ul>

        <div>
            <span><a href="">Update</a></span>
            <span><a href="">Delete</a></span>
        </div>
    </div>
    {% empty %}
        <p>You have no ingredients added.</p>
    {% endfor %}
{% endblock %}

