{% extends 'base.html' %}

{% block head %}
<title>Recipe List</title>
{% endblock %}

{% block content %}
<h3>Recipe List</h3>
<div class="recipe-container">


{% for item in object_list %}
    <div class="recipe-card">
        <!-- <img src="" alt=""> -->
        <h4>{{item.name}}</h4>
        <span>Cook Time - {{item.cook_time}} mins</span>
        <h5>Ingredients:</h5>
        <ul>
        {% for ingredient in item.ingredients.all %}
            <li>{{ingredient.name}}</li>
        {% endfor %}
        </ul>

        <div class="recipe-edit-btns">
            <span><a class="btn" id="update-btn" href="{% url 'recipe_update' item.id %}">Update</a></span>
            <span><a class="btn" id="delete-btn" href="{% url 'recipe_delete' item.id %}">Delete</a></span>
        </div>
    </div>
    {% empty %}
        <p>You have no ingredients added.</p>
{% endfor %}
</div>
<h4><a id="form-submit-btn" class='btn' href="{% url 'recipe_create'%}">Add new Recipes</a></h4>
{% endblock %}

