{% extends 'base.html' %}
{% block head %}
<title>Login</title>
{% endblock %}
{% block content %}
<h4>Login!</h4>
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password" placeholder="Password">
    </div>

    <input type="submit" value="Submit">
</form>
{% endblock %}