/* Globabl Styles */
body {
    background: #003e29;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;

}


header {
    max-height: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    background: white;
    margin: 0;
}

h3 {
    text-align: center;
    color: #fff;
    margin: 40px;
    
}
form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    color: white;
}
/* Nav */

nav>ul {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    padding: 0;
    margin-right: 100px
}

nav>ul a {
    padding: 0 10px;
    text-decoration: none;
    color: #003e29;
}

nav>ul a:hover {
    padding-bottom: 6px;
    border-bottom: 1px solid #003e29;
}

nav>ul a:visited {
    color: #003e29;
}
header > div {
    margin-right: 30px;
}
/* Buttons */

.btn {
    padding: 9px 22px;
    background-color: #357960;
    text-decoration: none;
    color: #fdfdfd;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}

.recipe-edit-btns {
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

#delete-btn {
    background-color: #D22B2B;
}

#update-btn {
    background-color: #f4bd1a;
}

.login-btn {
    background: white;
    color: #003e29;
    border: 1px solid #003e29;
}

.login-btn:hover {
    color: white;
    background-color: #003e29;
    border: 1px solid #003e29;

}

.signup-btn {
    border: 1px solid #003e29;
    background-color: #003e29;

}
.signup-btn:hover {
    color:#003e29;
    background-color: white;
    border: 1px solid #003e29;

}
#form-submit-btn {
    color: #003e29 !important;
    background: white !important;
    margin-top: 20px;
}

/* Recipe Card */
.recipe-container {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    width: 26.6%;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    background: #336453;
    color: white
}

.recipe-card>h4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px
}

.recipe-card>span {
    text-align: center;
    display: block;
}

.recipe-card>h5 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 0;
}

.recipe-card>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 8px;
    max-height: 90px;
}

.recipe-card li {
    padding: 0 3px;
    text-transform: capitalize;
    font-size: 18px
}
h4{
    text-align:center;
}
h4 > a {
    font-size:22px;
    color:white;
    text-decoration: none;
    
}
h4 > a:hover{
    opacity: 0.7;
}
h4 > a:visited{
    color:white;
}

/* Ingredients Page */

table {
    margin: 0 auto;
    min-height: 400px;
    width:600px;

    background:white;
}
.table-head {
    color:white;
    border-bottom: 1px solid black;
    background: #003e29;
    
}
table, th, td {
    border:2px solid #003e29;
    border-collapse:collapse;
    border-top: 2px solid black;
    border-right:2px solid black;
    border-left: 2px solid black;
    border-radius: 5px;
    
}
thead{
    background: #003e29;  
    
}
thead tr th{
    padding:30px;
    
}
tbody tr td {
    height:50px;
    background: white;
    text-transform: capitalize;
    padding:10px;
    text-align:center;
    
}

/* Form */

#username, #password{
    padding:10px;
    border-radius:5px;
    margin: 10px 5px
}

/* Home Page */

.grid-container{
    display: grid;
    grid-template: 300px 300px / 300px 300px;
    margin: 20px auto;
    width: 600px;
    align-content: center;
}
.grid-item-1{
    grid-row: 1/2;
    grid-column: 1/2;
    background: #336453;
}
.grid-item-2 {
    grid-row: 2/3;
    grid-column: 2/3;
    background: #336453;
}